<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439307917991-tbql9b4qrdtr2esb0nmkv6e9pko6nri4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439307917991-tbql9b4qrdtr2esb0nmkv6e9pko6nri4</string>
	<key>API_KEY</key>
	<string>AIzaSyCnU-NFetGKAjhmtdk0KDiEzXy1-6giJwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>439307917991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinyl.Places</string>
	<key>PROJECT_ID</key>
	<string>places-5f116</string>
	<key>STORAGE_BUCKET</key>
	<string>places-5f116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439307917991:ios:83a19b2765a847bb2f5982</string>
	<key>DATABASE_URL</key>
	<string>https://places-5f116-default-rtdb.firebaseio.com</string>
</dict>
</plist>